<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="/public/css/comm.css" />
  </head>
  <body>
<form action="/search" method="post">
<select name=option>
  <option value="name">name</option>
  <option value="borough">borough</option>
  <option value="cuisine">cuisine</option>
</select>
 <input type="text" name="keyword"  class="form-item"/>	
  <button >serach</button></br>
</form>

      <ul>
        <li>
          <a href="addrestaurant">create new restaurant</a>
        </li>
        <li>
         <a href="restaurantlist">show all restaurant</a>
        </li>
	<li>
         <a href="logout">logout</a>
        </li>
      </ul>


  </body>
</html>
