<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="./public/css/comm.css" />
  </head>
  <body>

      <ul>
        <li>
          <a href="addrestaurant.ejs">create new restaurant</a>
        </li>
        <li>
         <a href="restaurantlist">show restaurant</a>
        </li>
	<li>
         <a href="logout">logout</a>
        </li>
      </ul>


  </body>
</html>
