<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="../public/css/comm.css" />
  </head>
  <body>
    <div id="nav">
      <ul>
        <li>
          <a href="index">login</a>
        </li>
        <li>
          <a href="register">register</a>
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <h1>Welcome</h1>
      <div class="form-list">
<form action="/process_login" method="post">
        <div class="form-item">
          <span>use name：</span>
          <input type="text" name="username" id="name" />
        </div>
        <div class="form-item">
          <span>password：</span>
          <input type="password" name="userpwd" id="pwd" />
        </div>
        <div class="btn">
          <button onclick="submit()">Login</button>
        </div>
      </div>
</form>
    </div>
  </body>

</html>
